body, html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    /* font-family: 'Montserrat', sans-serif; */
}


/* Views */
.far {
    display: none;
}

.logo {
    position: fixed;
    top: 0;
    padding-left: .3em;
    /* padding-right: .3em; */
    padding-top: .3em;
    padding-bottom: .3em;
    float: left;
    font-size: 1.5em;
    color: whitesmoke;
   background-color: rgba(0,0,0,.6);
    z-index: 10;
    width: 100vw;
    height: 8vh;
}

.logo a {
    float: left;
        text-decoration: none;
        color: inherit;
        line-height: 2.5em;
        /* padding-right: 1.5em; */
        padding-left: 1em;
}

.fGM {
    height:60px;
    width: 150px;
    float: left;
    cursor: pointer;

}


    .truNav a{
        float: right;
        text-decoration: none;
        color: inherit;
        line-height: 2.5em;
        padding-right: 1.5em;
        user-select: none;
        cursor: pointer;
    }


.bg {
    /* The image used */
    background-image: url("https://cdn-images-1.medium.com/max/957/1*raDFCG6soUAyMyNFhfmdYQ.png");
    /* Full height */
    height: 100vh;
    /* width: 20vw;  */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: .9;
    /* background-color: purple; */
    /* display: none; */
}

#name {
    /* background-color: purple; */
    float: left;
    /* height: 20%;
    width: 30%; */
    /* padding-top: 2%; */
    font-size: 22px;
}


#customBtn {
    display: inline-block;
    background-color: #4285f4;
    color: #fff;
    width: 190px;
    /* border-radius: 5px; */
    border: thin solid #4285f4;
    /* box-shadow: 1px 1px 1px #4285f4; */
    white-space: nowrap;
    position: relative;
    left: 17%;
    
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/25px-Google_%22G%22_Logo.svg.png') transparent 5px 50%  no-repeat;
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: middle;
    background-position-x: 50%;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: 20%;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
    /* background-color: blue;
    color: whitesmoke; */
  }


  .homeDiv
  {
      height: 30vh;
      width: 300px;
      background-color: rgba(0,0,0,.6);
      z-index: 1;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -70vh;
      padding-top: 3%;
  
   } 

.tutorialDiv {
      height: 50vh;
      width: 500px;
      background-color: rgba(0,0,0,.6);
      z-index: 1;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -70vh;
      padding-top: 1%;
      display: none;
      align-items: center;
}

.pictureBox{
border-radius: 50%;
height: 180px;
width: 180px;
/* background: purple; */
/* left: -10vw; */
position: relative;
left: 33%;
top: -5%;
/* transform: scale(2,2); */

background-size: cover;
background-repeat: no-repeat;
/* background-position-x: 50%; */
/* background-position-y: 20px; */
/* background-position: center; 
background-position: bottom; */

}
  
/* Formatting */
   h1, 
  p,
  a{
      text-align: center;
      color: whitesmoke;
      letter-spacing: .02em;
      line-height: 1.15;
      margin-top: 0;
      text-decoration: none;
  }
  
  h1 {
      font-size: 2.5rem;
  }
  
  /* Buttons */
  .toSelect, .next{
      font-size: 14px;
      line-height: 1;
      border-radius: 500px;
      padding: 1em 1em 1em;
      transition-duration: .3s;
      border-width: 0;
      letter-spacing: 2px;
      min-width: 160px;
      text-transform: uppercase;
      white-space: normal;
      position: relative;
      left: 20%;
      background-color: #990000;
      color: whitesmoke;
      cursor: pointer;
      user-select: none;
      display: none;
  
  }

  .toSelect:focus,
  .next:focus {
    outline:0;
}


.toSelect:hover,
.next:hover {
    background-color: #e60000;
}

  .next {
    display: block;
    position: relative;
    left: 36%;
  }


  footer {
    background-color: black;
    position: fixed;
    bottom: 0%;
    width: 100vw;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (max-width: 1439px) {
    .truNav a{
        content: "Butt";
    }

    .userTip {
        display: none;
    }

    .far {
        display: inline;
    }
}

@media screen and (max-width: 499px) {

    .bg {
       width: 100vw;
       background-size:  cover;
       background-position-x: 50%;
    }

    #name {
        font-size: 15px;

    }

    .logo a {
        padding-left: 0;
    }

    .tutorialDiv {
        height: 60vh;
        width: 100vw;
        top: -80vh;
  }
  #tutorialP {
      font-size: 15px;
      height: 50px;
  }

  .fGM {
    height:55px;
    width: 145px;
    padding-right: 1%;

}


.next {
    left: 30%;
  }

  .pictureBox{
    left: 27%;
  }
}