body, html {
    margin: 0;
    /* height: 100%; */
}



body {
   
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-repeat: repeat-y;
    background-image: url("blackbg.jpg");
    color: whitesmoke;
    /* background: radial-gradient(circle, #8AB1AA 40%, #5EACC2, #1F81AF); */
    /* background: radial-gradient(circle, rgb(36, 16, 13) 40%,rgba(0,0,0,.6) , rgba(0,0,0,.6)); */
    font-family: Oxygen, sans-serif;
  }

/* Game Events are sent here */
/* .gameBox {
    margin: auto;
    width: 500px;
    height: 30vh;
    overflow-y: scroll;
    background: rgba(245, 245, 245, 0.829);
    background:rgba(0,0,0,.6);
    overflow: scroll;
   
    
} */

.gameBox {
  margin: auto;
  width: 500px;
  height: 30vh;
  overflow-y: scroll;
  background: rgba(245, 245, 245, 0.829);
  background:rgba(0,0,0,.6);
  overflow: scroll;
  position: absolute;
  right: 3vw;;
  top: 20vh;
 
  
}

.gameLog {
    width: 90%;
    height: 100%;
    /* position: fixed; */
    /* overflow: scroll;  */
    /* height: calc(100% - 200px); */
    /* overflow: scroll; */
   
}

.gameEvent {
    position: relative;
   bottom: 0%;
}

/* Buttons  */
.startButton {

        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        padding: 1em 1em 1em;
        transition-duration: .3s;
        border-width: 0;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        margin: auto;
        /* position: relative;
        top: vh; */
        background-color: #990000;
        color: whitesmoke;
        cursor: pointer;
        user-select: none;
        position: absolute;
        right: 14vw;
        top: 55vh;
}


.startButton:focus {
    outline:0;
}


.startButton:hover {
    background-color: #e60000;
}


.slowButton,
.normalButton,
.fastButton {
    height: 20px;
    font-size: .8em;
    /* position: relative; */
    /* margin-bottom: 1%; */
    user-select: none;
    cursor: pointer;
    border-radius: 100%;
    opacity: .8;
    /* display: none; */
    color: black;
    align-content: center;
    
}
.slowButton {
    background-color: red;
    /* height: 15px; */
    /* position: relative;
    left: -5%;
    top: 0%; */
    margin-top: 1%;
    position: absolute;
    top: 49vh;
    right: 22vw;
}

.slowButton:hover {
     background-color: #e60000;
     opacity: 1;
}

.normalButton:hover {
    background-color: #ffff33;
    opacity: 1;
}

.fastButton:hover {
    background-color: #00cc00;
    opacity: 1;
}

.normalButton {
    background-color: yellow;
    /* height: 15px; */
    /* top:  -2.5%; */
    position: absolute;
    top: 51vh;
    right: 19vw;
}

.fastButton {
    background-color: green;
    margin-bottom: 1%;
    /* height: 15px; */
    /* left: 5%;
    top: -5%; */
    position: absolute;
    top: 51vh;
    right: 16vw;
}

/* Logo  */
#ball {
    /* margin: auto; */
    /* position: relative;
    top: -3vh; */
    float: left;
    flex-direction: row;
    display: none;
    /* display: inline-flex; */
}

.player,
.player1,
.player2,
.player3,
.player4 {
    height: 10vh;
    width: 10vh;
    flex-direction: row;
    /* display: inline-flex; */
    opacity: .85;
    background-color: purple;
    border-radius: 50%;
    background-position: center;
    float: left;
    /* background-color: #eee;
    margin-left: auto;
    margin-right: auto; */
    z-index: 20

}


body {
    background-image: url("blackbg.jpg");
    color: whitesmoke;
    /* background: radial-gradient(circle, #8AB1AA 40%, #5EACC2, #1F81AF); */
    /* background: radial-gradient(circle, rgb(36, 16, 13) 40%,rgba(0,0,0,.6) , rgba(0,0,0,.6)); */
    font-family: Oxygen, sans-serif;
  }
  

 
  /* Scoreboard  */

  .scoreboardM {
    width: 350px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(-60deg, #46404f 53%, #4B4452 53%);
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
    display: none;
  }
  
  /* .team {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 20pt;
    color: whitesmoke;
  }
  .team .name {
    flex-shrink: 0;
    width: 52px;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
  }
  .team:nth-child(1) .rank {
    border-top-left-radius: 20px;
  }
  .team:nth-child(3) .rank {
    border-bottom-left-radius: 20px;
  }
  .team .rank {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: bold;
    flex-shrink: 0;
  }
  .team .logo {
    width: 50px;
    margin: 25px;
  }
  .team .scoreA {
    flex-shrink: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
    letter-spacing: 2px;
  }
  .team .scoreB {
    flex-shrink: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
    letter-spacing: 2px;
  }
  .team .recordA {
    font-size: 16pt;
    color: #746f7f;
    padding: 1px;
    margin-right: 30px;
  }

  .team .recordB {
    font-size: 16pt;
    color: #746f7f;
    padding: 1px;
    margin-right: 30px;
  }
  
  .divider {
    height: 1px;
    width: 310px;
    position: absolute;
    margin-left: 40px;
    font-size: 10pt;
    color: whitesmoke;
  }
  .divider::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 180px;
    background-color: #746f7f;
  }
  .divider::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 80px;
    right: 0;
    top: 0;
    background-color: #746f7f;
  }
  .divider p {
    position: absolute;
    font-weight: bold;
    left: 187px;
    top: -20px;
  }
  
  .B .rank {
    background-color: #EABF4F;
    color: whitesmoke;
  }
  .team.B .scoreB {
    color: whitesmoke;
  }

  .team.A .scoreA {
      color: #EABF4F;
      color: whitesmoke;
  }
  
  .A .rank {
    background-color: #6F212F;
  }

 
  
  .subtitle {
    margin: 20px;
    color: whitesmoke;
  }
  
  b {
    font-weight: bold;
  }  */

  
  .scoreboard {
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: .65%;
    /* float: left; */
    font-size: 2em;
    color: whitesmoke;
    /* color: #333333; */
    /* background-color: rgba(0,0,0,.6); */
    background-color: #333333;
    /* background-color: #fefdfa; */
    /* background-color: #263f3f ; */
    z-index: 10;
    width: 100vw;
    height: 12vh;
    text-decoration: none;
    box-shadow: 1.5px 1.5px 1.5px 1.5px whitesmoke;
}

.team .logo {
    width: 75px;
    height: 75px;
    margin: 25px;
    z-index: 11;
}

.team.B .logo {
    position: fixed;
    top: -1%;
    left: 5%
}

.team.A .logo {
    position: fixed;
    top: -1%;
    left: 86%
}

.team.B .name {
    position: fixed;
    top: 5%;
    left: 20%
}

.team.A .name {
    position: fixed;
    top: 5%;
    left: 75%
}

.scoreB {
    position: fixed;
    top: 5%;
    left: 30%
}

.scoreA {
    position: fixed;
    top: 5%;
    left: 68%
}

.gameState {
    position: fixed;
    top: 1%;
    left: 47%;
}

.team.B .rank {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: blue;
    height: 15.2vh;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: bold;
    flex-shrink: 0;

}

.team.A .rank {
    position: fixed;
    top: 0%;
    left: 97%;
    background-color: red;
    height: 15.2vh;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: bold;
    flex-shrink: 0;
}






/* AFTER BOX SCORE ADDITION */
table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 10px;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
table {
	border-collapse: collapse;
  border-spacing: 0;
}

.game-boxscore{
  width: 40%;
  display: inline-block;
  float: left;
  position: absolute;
  top: 15vh;
  left: 12vw;
}

.game-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  float: left;
}

tr:nth-child(odd){
  color:  transparent;
  background-color: rgb(78, 78, 78);
}
tr:nth-child(even){
  color: transparent;
  background-color: rgba(0,0,0,.6);
}
th{
  color: #222222;
  background-color: rgb(255, 255, 255);
}

.boxscore-headingA,
.boxscore-headingB{
  color: #222222;
  background-image: linear-gradient(to right, rgb(255, 255, 255) , rgba(255, 255, 255, 0));
}


/* Stat Reveal */
.statReveal {
  margin: auto;
  width: 500px;
  height: 20vh;
  overflow-y: scroll;
  background: rgba(245, 245, 245, 0.829);
  background:rgba(0,0,0,.6);
  overflow: scroll;
  position: fixed;
  bottom: 10vh;
  right: 1vw;
  display: none;
}

.boxScoreButton {
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 1em 1em 1em;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  margin: auto;
  /* position: relative;
  top: vh; */
  background-color: #990000;
  color: whitesmoke;
  cursor: pointer;
  user-select: none;
  position: fixed;
  bottom: 8vh;
  right: 12vw;
  display: none;
}

@media screen and (max-width: 1439px) {

  body,html {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #ball {
    display: block;
    height: 180px;
    margin-bottom: 3vh;
  }

  .scoreboard {
    display: none;
  }

  .scoreboardM {
    width: 350px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(-60deg, #46404f 53%, #4B4452 53%);
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
    display: block;
    position: static;
    /* left: 75vh;
    bottom: 30vh; */
  }
  
  .team {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 20pt;
    color: whitesmoke;
  }
  .team .name- {
    flex-shrink: 0;
    width: 52px;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
  }
  .team:nth-child(1) .rank- {
    border-top-left-radius: 20px;
  }
  .team:nth-child(3) .rank- {
    border-bottom-left-radius: 20px;
  }
  .team .rank- {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: bold;
    flex-shrink: 0;
  }
  .team .logo- {
    position: initial;
    width: 50px;
    margin: 25px;
  }
  .team .scoreA {
    flex-shrink: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
    letter-spacing: 2px;
  }
  .team .scoreB {
    flex-shrink: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
    letter-spacing: 2px;
  }
  .team .recordA {
    font-size: 16pt;
    color: #746f7f;
    padding: 1px;
    margin-right: 30px;
  }

  .team .recordB {
    font-size: 16pt;
    color: #746f7f;
    padding: 1px;
    margin-right: 30px;
  }
  
  .divider- {
    height: 1px;
    width: 310px;
    position: absolute;
    margin-left: 40px;
    font-size: 10pt;
    color: whitesmoke;
  }
  .divider-::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 180px;
    background-color: #746f7f;
  }
  .divider-::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 80px;
    right: 0;
    top: 0;
    background-color: #746f7f;
  }
  .divider- p {
    position: absolute;
    font-weight: bold;
    left: 187px;
    top: -20px;
  }
  
  .B- .rank- {
    background-color: blue;
    color: whitesmoke;
  }
  .team.B- .scoreB {
    color: whitesmoke;
  }

  .team.A- .scoreA {
      color: red;
      color: whitesmoke;
  }
  
  .A- .rank- {
    background-color: red;
  }

 
  
  .subtitle {
    margin: 20px;
    color: whitesmoke;
  }
  
  b {
    font-weight: bold;
  } 

  .scoreA, 
  .scoreB {
    position: static;
  }

  .gameBox,
  .gameLog,
  .slowButton,
  .normalButton,
  .fastButton,
  .startButton,
  .game-boxscore {
    position: static;
    margin:0;
  }

  .gameBox {
    margin-bottom: 5vh;
  }

  .game-main {
    margin-top: 10vh;
  }

  .game-boxscore {
    display: none;
  }
  }

  @media screen and (max-width: 499px) {
  
  .gameBox{
    width: 100vw;
  }

  .statReveal,
  .boxScoreButton {
    color: transparent;
    background-color: transparent;    
  }
  
  }
